
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.modal-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  margin: 40px;
}


.payment-card{
  grid-template-columns: repeat(2,1fr);
}

@media (max-width: 720px) {
  .payment-card{
    display: flex !important;
  }
}
