<section class="mb-5">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="images/self.png" class="img-fluid rounded-pill" alt="Self Pay Pizza" width="500">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Acessar como</p>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-danger btn-lg w-100" routerLink="/auth/customers">
            Cliente
          </button>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-danger btn-lg w-100" routerLink="/auth/admin">
            Funcionario
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
