

<nav class="navbar navbar-danger sticky-top bg-danger shadow">
  <div class="container-fluid">
    <div class="navbar-brand text-white">
      <img src="images\self-crop.png" alt="draw" width="30" class="d-inline-block align-text-top rounded-pill">
      Self Pay Pizzas
    </div>
    <div>
      <a class="text-white me-4"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="Sair"
        (click)="logout()"
      >
        <i class="bi bi-door-open-fill"></i>
      </a>
      @if(rota == "/orders"){
        <a class="text-white me-4 position-relative"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Pedidos"
          (click)="verItems()"
        >
          <i class="bi bi-list"></i>
        </a>
      }
      @if(rota == "/items" || rota == "/"){
        <a class="text-white me-4 position-relative"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Pedidos"
          (click)="verPedidos()"
        >
          <i class="bi bi-cart-fill"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            1
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        <a class="text-white me-4 position-relative"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Minha conta"
          (click)="verConta()"
          >
          <i class="bi bi-person"></i>
        </a>
      }

    </div>
  </div>
</nav>

<router-outlet />
<div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-danger sticky-top">

  <div class="text-white mb-3 mb-md-0">
    Copyright © 2025 - Self Pay Pizzas
  </div>

  <div>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="bi bi-linkedin-in"></i>
    </a>
  </div>

</div>
