<router-outlet />
<div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-danger sticky-top">

  <div class="text-white mb-3 mb-md-0">
    Copyright © 2025 - Self Pay Pizzas
  </div>

  <div>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="bi bi-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="bi bi-linkedin-in"></i>
    </a>
  </div>

</div>
